/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: auto;
  }
  
  /* Navbar Styles */
  nav {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .logo {
    margin: 0;
  }
  
  /* Mobile Menu Styles */
  .mobile-menu {
    display: none;
  }
  
  .menu-toggle {
    width: 30px;
    height: 30px;
    background-color: #fff;
    cursor: pointer;
  }

  /* Home Section Styles */
  #home {
    background-color: #f1f1f1;
    padding: 50px 0;
    text-align: center;
  }
  
  /* Project Section Styles */
  .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .project {
    background-color:lightcyan;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
  
  .features {
    list-style: none;
    padding: 0;
  }
  
  .features li {
    margin-bottom: 5px;
  }
  
  .price {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .buy-btn a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color:whitesmoke;
    background-color:lightslategrey;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .buy-btn:hover {
    color: greenyellow;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .container {
      width: 90%;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
  