/* General Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}
.logo{
    font-size: 2em ;
    user-select: none;
    font-weight: bold;
}

/* Navbar */
.navbar {
    background: linear-gradient(to right, #0691db, #562ec4);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 5px;
}

.hero-section {
    background: linear-gradient(to right, #8043E8, #044481, #a0e03f);
    color: white;
    padding: 2rem;
    text-align: center;
}

.services-section {
    padding: 2rem;
    background-color: #ecf0f1;
}

.service-category {
    background: linear-gradient(to right, #3377d7, #2ac9a4);
    color: white;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
}

.footer-section {
    background: linear-gradient(to right, #0691db, #562ec4);
    color: white;
    text-align: center;
    padding: 1rem;
}
.footer-section a{
    text-decoration: none;
    color: whitesmoke;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: linear-gradient(to right, #0691db, #562ec4);
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
    }
    .nav-links a{
        padding: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .hero-section, .services-section, .footer-section {
        padding: 1rem;
    }
}
